@using MVC_Task.ViewModels
@using MVC_Task.Resources

<div>
    <p>@CharacterViewModel.FormatMoney()</p>
    <p>Pints of beer: @CharacterViewModel.PintsOfBeer</p>
</div>
<div class="text-center">
    
    @switch (CharacterViewModel.NpcMet)
    {
        case "Fool":
            <h1>@Messages.FoolHelpedResult</h1>break;
        case "FoolDenied":
            <h1>@Messages.FoolDeniedResult</h1>break;
        case "Assassin":
            <h1>@Messages.AssassinResult</h1>break;
        case "Beggar":
            <h1>@Messages.BeggarResult</h1>break;
        case "Thief":
            <h1>@Messages.ThiefResult</h1>break;
    }
    <img src="/Images/Pub.jpg" width="1000" height="600"/>
    <h2>You see a pretty pub, where a lot of different creatures and people drink and having a good time</h2>
    <h2>You can enter or move along</h2>
    <input type="button" value="Enter the pub" class="btn btn-danger" onclick="location.href = '@Url.Action("BuyingBeer", "Pub")'">
    <input type="button" value="Move along" class="btn btn-danger" onclick="location.href = '@Url.Action("MainGameplay", "Gameplay")'">
</div>
