@model MVC_Task.ViewModels.CharacterViewModel



<form asp-action="InteractionWithAssassinPost" asp-controller="Assassins" class="row row-cols-lg-auto g-3 align-items-center">
    <label asp-for="AmountOfMoneyToInteract" class="form-label">Pick the amount of money to hire assassin</label>
    
    @Html.TextBoxFor(model => model.AmountOfMoneyToInteract, new{type="number",min="1", max=@Model.AmountOfMoney})
    <button type="submit" class="btn btn-check btn-lg btn-block">Hire the assassin</button>
    @Html.HiddenFor(model => Model.AmountOfMoney)
    @Html.HiddenFor(model => model.AmountOfTurns)
    @Html.HiddenFor(model => model.HasWon)
    @Html.HiddenFor(model => model.IsAlive)
    @Html.HiddenFor(model => model.MetThieves)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.NumberOfRetries)
    @Html.HiddenFor(model => model.Race)
</form>
<button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("PlayersDeath", "Player", Model)'">Reject the proposal</button>
