@using MVC_Task.ViewModels


<div class="text-center">
    <h1>Died because of vampire mage</h1>
    <img src="/Images/VampireMageEnding.jpg" alt="vampire" width="500" height="700">
    <h1>@CharacterViewModel.Name</h1>
    <h2>@CharacterViewModel.Race</h2>
    <h2>Ending: Lost</h2>
    <h2>Status: Dead</h2>
    <h2>Money: @CharacterViewModel.AmountOfMoney</h2>
    <h2>Turns: @CharacterViewModel.AmountOfTurns</h2>
    <button type="button" class="btn btn-success btn-lg btn-block" onclick="location.href = '@Url.Action("ShowScoreTable", "Player")'">Score table</button>
</div>
