@model MVC_Task.ViewModels.PlayerFullInfoViewModel


<div class="text-center" style="color: aliceblue">
    <table class="table" style="color: aliceblue">
        <thead>
        <tr style="color: aliceblue">
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Number of turns</th>
            <th scope="col">Race</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
    
        @for (var i =0; i<@Model.Players.Count(); i++)
        {
            <tr>
                <th scope="row" style="color: aliceblue">@(i+1) </th>
                <td style="color: aliceblue">@Model.PlayersInfo[i].Name</td>
                <td style="color: aliceblue">@Model.Players[i].AmountOfTurns</td>
                <td style="color: aliceblue">@Model.PlayersInfo[i].Race</td>
                <td style="color: aliceblue">@if (@Model.Players[i].IsAlive)
                    {
                        <p>Alive</p>
                    }
                    else
                    {
                        <p>Dead</p>
                    }</td>
            </tr>
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-danger btn-lg btn-block" onclick="location.href = '@Url.Action("CreateCharacter", "Player")'">Enter Ankh-Morpork again</button>
</div>
