@using MVC_Task.ViewModels
@using MVC_Task.Resources
@model MVC_Task.ViewModels.ThiefViewModel

<div>
    <p>@CharacterViewModel.FormatMoney()</p>
    <p>Pints of beer: @CharacterViewModel.PintsOfBeer</p>
</div>
<div class="text-center">
    <h2>@Messages.ThiefGreeting @Model.Thief.MemberInfoEntity.Name</h2>
    <img src="/Images/Thief.jpg" width="500" height="700" alt="Thief image"/>
    <h2>He-he! Turn out your pockets!</h2>

    <input type="button" value="Give him what he wants" class="btn btn-danger" onclick="location.href = '@Url.Action("InteractionWithThief", "Thieves")'">
    <input type="button" value="Try to run away" class="btn btn-danger" onclick="location.href = '@Url.Action("PlayersDeath", "Player")'">
    @if ((Model.Thief.MemberInfoEntity.IsMage && Model.Thief.MemberInfoEntity.IsMage) && @CharacterViewModel.Race is "Elven" or "Vampire")
    {
        <input type="button" value="You feel strange power..." class="btn btn-danger" onclick="location.href = '@Url.Action("InteractionWithVampireMageMember", "SpecialMember")'">
    }
    else if (Model.Thief.MemberInfoEntity.IsVampire && @CharacterViewModel.Race == "Vampire")
    {
        <input type="button" value="You feel strange smell..." class="btn btn-danger" onclick="location.href = '@Url.Action("InteractionWithVampireMember", "SpecialMember")'">
    }
    else if (Model.Thief.MemberInfoEntity.IsMage && @CharacterViewModel.Race == "Elven")
    {
        <input type="button" value="You feel strange power..." class="btn btn-danger" onclick="location.href = '@Url.Action("InteractionWithMageMember", "SpecialMember")'">
    }
</div>

